<!-- Login Section -->
<div *ngIf="!isLoggedIn">
  <label>Enter your name:</label>
  <input [(ngModel)]="username" />
  <button (click)="login()">Proceed</button>
</div>

<div *ngIf="isLoggedIn">
  <div class="welcome">
    <h1>Welcome, {{ username }}!</h1>
    <label>Moved:</label>
  <input [(ngModel)]="totalMoved" />
  </div>

  <div>To do tasks</div>
    <div *ngFor="let task of todoTaskList">
      <div>CustomerName: {{ task.title }} assigned: {{ task.user.username }} last updated {{task.lastUpdated}} </div>
      <button (click)="this.moveToInProgress(task)">Move to In progress</button>
      <button (click)="this.moveToDone(task)">Move to Done</button>

    </div>
    <div>in progress tasks</div>
    <div *ngFor="let task of inProgressTaskList">
      <div>CustomerName: {{ task.title }} assigned: {{ task.user.username }} last updated {{task.lastUpdated}}</div>
      <button (click)="this.moveToToDo(task)">Move to To do</button>
      <button (click)="this.moveToDone(task)">Move to Done</button>
    </div>
    <div>Done</div>
    <div *ngFor="let task of doneTaskList">
      <div>CustomerName: {{ task.title }} assigned: {{ task.user.username }} last updated {{task.lastUpdated}}</div>
      <button (click)="this.moveToInProgress(task)">Move to In progress</button>
            <button (click)="this.moveToToDo(task)">Move to To do</button>
    </div>

  <!-- <div>
    <h1>Flagged feedback count: {{ flaggedCount }}</h1>
    <h2>Add feedback</h2>
    <div style="color: red;" *ngIf="highlightedMessage">
    Feedback contains mean words => <span [innerHTML]="highlightedMessage"></span>
    </div>
    <label for="message">Enter feedback:</label>
    <input [(ngModel)]="message" id="message" />
    <button (click)="addFeedback()" [disabled]="naughtyCnt >= 3">Add feedback</button>
    <button (click)="cleanFeedback()">Clean feedback</button>
  </div> -->
</div>
